
#header{
	display: flex;
	justify-content: center; 
	margin-top: 64px auto;
	font-family: 'Lato', sans-serif;
}
.logo{
	max-width: 300px;
	width: 100%;
    vertical-align: middle;
    margin-left: 20px;
}
.navigation{
    max-width: 1200px;
	width: 100%;
	display: flex;
	align-items: center;  
	justify-content: space-between;
	font-family: 'Lato', sans-serif;
}
.navi-2{
	max-width: 596px;
	width: 100%;
	display: flex;
	align-items: center; 
	justify-content: space-between;
}

.nav-item{
	color: #3D37F1;
}
.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.main-text {
    width: 637px;
    height: 515px;
    margin-top: 277px;
    display: flex;
    flex-direction: column;
    
}
.text-1 {
    font-size: 70px;
    color: #534D4D;
    font-family: 'Lato',sans-serif;
    width: 530px;
    height: 180px;
}
.text-2 {
    font-size: 22px;
    color: #534D4D;
    font-family: 'Roboto', sans-serif;
    width: 500px;
    height: 70px;
}
.button {
    background-color: #3D37F1;
    border-radius: 38px;
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hand {
    margin-right: 5px;
}
.but-text {
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
}
.web-img {
    margin-top: 130px;
    max-width: 500px;
    width: 100%;
}
.container-2 {
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}
.main-txt-2 {
    margin-top: 94px;
    margin-left: 245px;
    display: flex;
    flex-direction: column;
    width: 710px;
    height: 195px; 
    text-align: center; 
    align-items: center; 
}
.text-serv {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500px;
    color: #3D37F1;
    font-family: 'Lato',sans-serif;
    text-align: center;
}
.text-serv-2 {
    margin-bottom: 20px;
    width: 568px;
    font-size: 40px;
    font-family: 'Lato',sans-serif;
}
.text-serv-3 {
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
}
.blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width: 1200px;
}
.block-1 {
    width: 340px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgs {
    width: 100px;
    height: 100px;
}
.block-1:nth-child(1) {
    background-color: #FBBA77;
    margin-bottom: 60px;
}
.block-1:nth-child(2) {
    background-color: #41EAE3;
    margin-bottom: 60px;
}
.block-1:nth-child(3) {
    background-color: #69529F;
    margin-bottom: 60px;
}
.block-1:nth-child(4) {
    background-color: #4386D2;
}
.block-1:nth-child(5) {
    background-color: #A5A2F6;
}
.block-1:nth-child(6) {
    background-color: #FF8088;
}
.block-h {
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.button-2 {
    border: 2px solid white;
	max-width: 130px;
	width: 100%;
	height: 45px;	
	border-radius: 23px;
	margin-top: 11px;
	display: flex;
	justify-content: center; 
	align-items: center;
}
.block-txt {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 250px;
    margin-bottom: 11px;
    
}
